@font-face {
  font-family: 'Spartan';  
  src: url('../../assets/fonts/LeagueSpartan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Spartan';
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: black;
  text-decoration: none; 
}

input, select, button{

    font-family: inherit !important;

}

* {box-sizing: border-box;}

html, body {

  overflow-x: hidden;

}

header{

  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  height: 15vh;
  border-bottom: 1px solid #ccc; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

#logoDiv{

  display: flex;
  justify-content: center;
  align-items: center;

}

#logoHeader{

  width: 30px;
  height: auto;

}

nav{

  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

nav ul{

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

#iconoUser{

  width: 30px;
  height: auto;

}

#simulacionSection{

    background-image: url(../../assets/images/BackgroundSimulacionPaneles.jpg);  
    background-size: cover;        
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#formularioDiv{

    width: 80vw;
    height: 80vh;
    background-color: white;
    border: 2px solid #ccc;       
    border-radius: 12px;               
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    display: grid;
    grid-template-rows: 25% 1fr;

}

#textFormulario{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

#textFormulario h6{

    font-size: 25px;
    font-weight: 800;

}

#formulario{

    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

}

#formulario > *{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

#formulario input, #formulario select{

  background-color: #f5f5f5;
  color: #242424;
  padding: .15rem .5rem;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;

}

#formulario button{

  color: #242424;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;

}

#formulario button:hover{

    transform: scale(1.2);

}

footer{

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25vh;
  padding: 5vh 5vw;
  gap: 10px;

}

#presentacionFooter{

  display: flex;
  align-items: center;
  gap: 1vw;
}

#presentacionFooter p{

  font-size: 25px;

}

#footerIconoValleEnergy{

  width: 35px;
  height: 35px;

}

#redesSocialesFooter{

  display: flex;
  flex-direction: column;
  gap: 10px;

}

#redesSocialesFooter p{

  font-size: 20px;

}

.iconosRedes{

  width: 35px;
  height: 35px;

}